.recent-cardstyle {
    width: 240px;
    height: 360px;

    // boxshadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.6);
}

.ant-card-body {
    padding: 8px;
}

.menu-label {
    text-align: left;
    color: #7a7a7a;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
